.content-wrapper{
	background-image: url("assets/image/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-url: url("assets/image/bg.jpg");
}
